* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pt-100 {
  padding-top: 100px;
}
body {
  background-color: #1e1d1d;
  position: relative;
}

.bg-black {
  background-color: #1e1d1d;
}

.bg-nav {
  background-color: #3e0b0b;
}

ul.navbar-nav li.active > a {
  color: #3e0b0b !important;
  background-color: #f9aeae;
  font-weight: bold;
}

.navbar-light .navbar-toggler {
  color: #f9aeae !important;
  border-color: #f9aeae !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(/image/toggler-icon.png);
  background-size: cover;
  background-blend-mode: darken;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #f9aeae !important;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

a.nav-link:hover {
  color: #3e0b0b !important;
  background-color: #f9aeae;
}

.text-cream {
  color: #f9aeae !important;
}
.home-area {
  position: relative;
}
.home-banner {
  height: 800px;
  position: relative;
}
.home-banner .banner-content {
  position: relative;
  z-index: 9;
}
.home-banner .banner-content .banner-text {
  color: #f9aeae;
}
.home-banner .banner-content .banner-text span {
  color: #3e0b0b;
}
.banner-image {
  position: absolute;
  top: 0;
  right: 0%;
  width: 55%;
  height: 100%;
}
.banner-content {
  position: relative;
  padding: 50px 0 50px 10px;
}
.banner-content::before {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-color: #f9aeae;
  opacity: 50%;
}
.banner-text {
  position: relative;
}

.bg-home {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 70%;
}

.btn-submit {
  font-weight: bold;
  color: #3e0b0b;
  background-color: #f9aeae;
  box-shadow: 5px 5px 4px #3e0b0b;
}

.btn-submit:hover {
  color: #f9aeae;
  background-color: #3e0b0b;
  box-shadow: 5px 5px 4px #f9aeae;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 700px;
  width: 100%;
}

.f-conticon img {
  filter: invert(100%) sepia(100%) saturate(0) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.footer-contact {
  position: relative;
}
.footer-contact::before {
  content: " ";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-color: #3e0b0b;
  opacity: 40%;
}
.cf-sub {
  position: relative;
}

.contact-footer-ul .li {
  padding: 1px;
}

.f-conticon,
.f-conttxt {
  padding: 5px;
}

.foot-title {
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 420px) {
  .home-banner {
    height: 400px;
  }
  .banner-content {
    position: relative;
    padding: 30px 0 30px 5px;
  }
  .banner-image {
    position: absolute;
    top: 0;
    right: 0%;
    width: 65%;
    height: 100%;
  }
}

/* About */
.about-image1 {
  display: flex;
  justify-content: right;
  width: 55%;
  height: 510px;
  padding-left: 50px;
}
.header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 60px;
}
.about-cont p {
  font-size: 23px;
  margin-top: 20px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.about-image2 {
  display: flex;
  justify-content: right;
  width: -20px;
  height: -30px;
}

@media screen and (max-width: 480px) {
  .home-banner {
    height: 600px;
  }
  .banner-image {
    position: absolute;
    top: 0;
    right: 0%;
    width: 35%;
    height: 100%;
  }
}

/*team*/
.t-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #f2f3f7;
}
.container-t {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-t .card-t {
  width: 330px;
  height: 425px;
  padding: 40px 50px;
  margin: 45px;
  background: #f2f3f7;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #f2f3f7;
  border-radius: 20px;
}
.container-t .card-t.content-t {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-t .card-t .content-t .imgBx {
  width: 190px;
  height: 300px;
  margin-top: -60px;
  border-radius: 50%;
  position: relative;
  margin-bottom: -10px;
  overflow: hidden;
}
.container-t .card-t .content-t .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-t .card-t .content-t .contentBx h4 {
  color: #36187d;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}
h5 {
  color: #6c758f;
  padding: 6px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.social-media {
  margin-top: 5px;
  font-size: 25px;
}
.container-t .card-t .content-t .social-media .a {
  text-decoration: none;
  color: #6c758f;
  font-size: 30px;
  margin: 10px;
  transition: color 0.5s;
}
.container-t .card-t .content-t .social-media a:hover {
  color: red;
}
